{{include 'default/public/header.html'}}
<script src="/api/basic.js"></script>
<div class="container-fluid top-search">
    <div class="search-box" style="max-width: 700px; margin: 0 auto">
        <form action="/A_search" method="get">
            <div class="input-group">
                <input type="text" class="form-control" id="searchID"  autocomplete="off" name="searchValue" oninput="api.searchList(this.value,'agency')" onblur="displaylist()" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Go</button>
                </div>
            </div>
        </form>
        <div class="">
            <ul class="text-left search-list">

            </ul>
        </div>
    </div>
</div>
<div class="container-fluid panoramaAndHotel">
    <div class="container">
        <div class="row">
            {{each agency}}
            <div class="model-area col-md-6 col-sm-6 col-lg-4">
                <div class="model-area-one">
                    <div style="height: 150px; width: 100%;overflow-y: hidden;">
                        <a href="/travel/agencyDet?id={{@$value._id}}"><img src="/{{$value.business_license}}" alt="" width="100%" ></a>
                    </div>
                    <h4 class="text-left"><a href="">{{$value.enterprise_name}}</a><span style="float: right;" class="text-right"><i><!--81元起--></i></span></h4>
                    <div class="descript text-left">
                        <p>与您一起，走遍韶关景点</p>
                    </div>
                    <hr>
                    <div class="text-left font-icon">
                        <i class="fa fa-eye"></i>15
                        <i class="fa fa-heart"></i>16
                    </div>
                </div>
            </div>
            {{/each}}


        </div>
    </div>

</div>
<script src="/default/js/keydown.js"></script>
<script>
    $(document).ready(function () {
        if($('.search-list').css("display")==="block"){
            console.log($('.search-list').css("display"));
        }
    })
    function displaylist() {
        $('.search-list').css({"display":"none"})
        ///   console.log($('.search-list').css("display"));
    }
</script>
{{include 'default/public/footer.html'}}
</body>
</html>
