<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>V视界登录</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/default/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/default/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/default/assets/css/form-elements.css">
        <link rel="stylesheet" href="/default/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/default/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/default/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/default/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/default/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/default/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content" id="userLogin">

            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>V视界登录</h3>

                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="/login/doLogin" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
			                        </div>
                                    <span>没有账号？<a href="/login/register">注册</a></span>
                                    <span>我是旅行社 <a href="agencyLogin"  onclick="changeLogin()">登录</a></span>

			                        <button type="submit" class="btn">登录</button>
			                    </form>
		                    </div>


                            <script>

                                function changeLogin() {
                                    $('#agencyLogin').css({"display":"block"});
                                    $('#userLogin').css({"display":"none"})
                                }

                            </script>



                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="top-content" id="agencyLogin" style="display: none;">

            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>V视界旅行社登录</h3>

                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="/login/doAgencyLogin" method="post" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="">
                                    </div>
                                    <span>没有账号？<a href="/login/register">注册</a></span>
                                    <button type="submit" class="btn">登录</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Javascript -->
        <script src="/default/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/default/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/default/assets/js/jquery.backstretch.min.js"></script>
        <script src="/default/assets/js/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="/default/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
